node_modules
commands.json
tasks.json
export.json
config.js
/storage/logs/*.log
/storage/logs/*.json
/storage/logs/*.gz
/storage/logs/crash/*
/storage/cache/rss/*
/storage/cache/sb/*
/storage/tmp/*
/storage/database/*
/storage/downloads/*
*.bak