node_modules
config.json
commands.json
/core/commands/*.js
!/core/commands/help.js
!/core/commands/eval.js
!/core/commands/about.js
!/core/commands/reload.js
!/core/commands/perm.js
!/core/commands/stats.js
/storage/logs/*.log
/storage/database/*
/storage/cache/albums/*
/storage/cache/steam/*
/storage/cache/rss/*
/storage/tmp/cooldowns/*