{
	"botVersion": "1.0.0",
	"clientSecret": "",
	"token": "",

	"ownerName": "depthbomb#7698",
	"ownerId": "133325534548590594",

	"prefix": "!",
	"botUsername": "GoatBot!",
	"color": "#0097A7",
	"initialGame": "!help",
	"status": "online",
	"clientId": "405805435438891008",
	"userAgent": "GoatBot! Automaton by Caprine Softworks - github.com/depthbomb/GoatBot",
	"mainGuild": "",

	"database": {
		"host": "localhost",
		"user": "username",
		"pass": "password",
		"db":   "goatbot"
	},

	"roles": {
		"admin": "",
		"mod": ""
	},

	"nsfwBlacklist": [],
	"nsfwChannel": "",
	"logChannel": "",
	"refugeeChannel": "",

	"crypto": {
		"salt": "",
		"errorSalt": ""
	},

	"cooldowns": {
		"default": 1.5,
		"bypassChannels": [],
		"bypassUsers": []
	},

	"autoRoles": {
		"unrestrictDelay": 300
	},

	"playingGames": [
		"Petting a goat",
		"Increasing Discount's incoming damage",
		"Drinking tap water",
		"Dividing by zero",

		"Praying to the B͠͞ĺ̡́̕a̢͟c̡̢ķ̵̶͝͝ ̵̴̨̧́Ǵ̶̛͘͡o̧̨̡͟a̴̡̧͜͝t͢",

		"Hacking your IP address with HTML",
		"Snapping my Fortnite win",
		"Yiffing",
		"Accidentally crashing the server",
		"WoW for 16 hours a day",
		"Thinking of new quotes for this",
		"Changing map to surf_tf_japan_v1",
		"!help",
		"Making a furry inside joke",
		"a True Pacifist run"
	],

	"greetingChannel": "",
	"greetings": [
		"{user} has joined us! Give them a warm welcome.",
		"Hey, {user} just joined! Let's bully them!",
		"OwO What's this? {user} has joined!",
		"Everyone hide! {user}'s here"
	],

	"logTimezone": "America/Chicago",

	"steam": {
		"api_key": ""
	},

	"cleverbot_api_key": "",

	"rss": {
		"url": "https://steamcommunity.com/groups/cyantf/rss/",
		"output_channel": ""
	},

	"imgur": {
		"username": "",
		"password": "",
		"client": "",
		"secret": ""
	},

	"logTypes": [
		"msg",
		"event",
		"bot",
		"system",
		"warn",
		"error",
		"cron",
		"debug"
	],

	"directories": [
		"storage",
		"storage/cache",
		"storage/cache/albums",
		"storage/cache/steam",
		"storage/cache/rss",
		"storage/tmp",
		"storage/logs"
	]
}